
.form{
    overflow: scroll;
    height: 750px;

}
.question{
    text-align: center;
}

.textField{
    width: 80%;
    
}

.dropdown{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.button1{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.disable{
    pointer-events: none;
}

.enable{
    pointer-events: auto;
}